.Painel.PainelMinhasSolicitacoes {
    /* background-color: aqua; */

    .painel-content {

        table {
            /* table-layout: fixed; */
            tr {
                th[data-label="status"],
                td[data-label="status"]
                {
                    /* background-color: aquamarine; */
                    width: 100%;       
                    text-align: center;             
                }
            }

            .item {
                td[data-label="tipo"] {
                    position: relative;

                    .badge.alert::after {
                        content: '!';
                        position: absolute;
                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: var(--color-danger);
                        border-radius: 50%;

                        text-align: center;
                        font-weight: 500;
                        line-height: 115%;
                        color: var(--color-w);
                        transform: translateY(-0.2rem);
                        /* left: 0; */
                        /* right: 0;                         */
                    }
                }

                td[data-label="status"] {
                    /* display: flex; */
                    
                    width: 100%;
                    min-width: 44rem;

                    white-space: nowrap;
                    /* overflow: hidden; */
                    /* text-overflow: ellipsis; Adiciona reticências (...) no final do texto cortado */
                }

                td[data-label="ações"] {
                    min-width: 13.5rem;

                    .btn {
                        /* background-color: red; */

                        > span {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            
        }


        .legenda {
            /* background-color: antiquewhite; */
            margin-top: 1rem;

            small {
                display: flex;
                align-items: center;
                gap: .5rem;

                span {
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: var(--color-danger);
                    border-radius: 50%;

                    text-align: center;
                    font-weight: 500;
                    line-height: 115%;
                    color: var(--color-w);
                }
            }
        }
        &:not(:has(table .alert)) {
            .legenda {
                display: none;
            }
        }
    }



    /* RESPONSIVIDADE */
    @media (max-width: 767px) {

        .painel-content {

            table {
                table-layout: fixed;

                .item {

                    td[data-label="status"] {
                        min-width: 100%;
                        /* justify-content: space-between;
                        gap: 0.5rem; */
                    }
                }
            }
        }

    }
}