body:has(.Modal),
body:has(.PreviewCart) {
    @media (max-width: 520px) {
        overflow-y: hidden;
    }
}

/* GRID LAYOUT */
.grid {
    width: 100%;
    max-width: 1380px;

    margin: 0 auto;
}
/* GRID LAYOUT-FIM */


/* TIPOGRAFIA */
.title {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}
.title--subtitle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-bottom: 3rem;
}

.title-danger,
.title_danger {
    display: flex;
    align-items: center;
    gap: .5rem;
    color:  var(--color-danger);
}
.title-neutral,
.title_neutral {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.name-profile,
.name_profile {
    text-transform: capitalize;
}


.title-page {
    display: flex;
    gap: .7rem;
    align-items: center;
}
.text-not-access {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    text-shadow: 0 0 2px var(--color-warning);
}
td[data-label="status"],
td[data-label="qtd. mínima"],
td[data-label="qtd. em estoque"]
{
    /* display: flex;
    justify-content: center; */
    .null {
        padding: 0 0.5rem;
        font-size: 1.8rem;
        font-weight: 600;
        /* line-height: 0; */
    }
}

.title_modal {
    background-color: var(--color-neutral-bg);
    padding: 0.5rem;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;

    &.entrada {
        background-color: var(--color-success-bg);
        color: var(--color-success);
    }
    &.saida {
        color: var(--color-neutral);
    }
    &.danger {
        background-color: var(--color-danger-bg);
        color: var(--color-danger);
    }
}

.link_animate {
    position: relative;
    /* border: 1px solid red; */
    max-width: fit-content;

    display: flex;
    align-items: center;
    gap: 0.7rem;

    color: var(--color-primary);
    font-weight: 600;

    transition: all .3s ease;

    > i {
        font-size: 1.8rem;
    }

    &::after {
        content: '';
        position: absolute;
        background-color: var(--color-primary);
        width: 0;
        height: 0.18rem;
        left: 0;
        bottom: 0;

        transition: all .3s ease-in-out;
    }

    &:hover {
        transform: scale(1.02);
    }
    &:hover::after {
        width: 100%;
    }
}

.txt {
    font-weight: 500;

    &.danger {
        color: var(--color-danger);
    }
    &.bold {
        font-weight: 700;
    }
}
/* TIPOGRAFIA-FIM */


/* ESTADOS */
.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.msg {
    background-color: var(--color-neutral-bg);
    border-radius: 7px;
    width: 100%;
    padding: .7rem;

    &.error {
        background-color: var(--color-danger-bg);
        border: 1px solid var(--color-danger-border);
        /* color: var(--color-text); */
    }
    &.warn {
        background-color: var(--color-warning-bg);
        border: 1px solid var(--color-warning-border);
        /* color: var(--color-text); */
    }
}

.txt-erro,
.txt_error
{
    color: var(--color-danger);
    font-weight: 600;
}

.feedback-search {
    margin-top: 1.5rem;
    margin-bottom: -0.7rem;

    display: flex;
    justify-content: space-between;

    @media (max-width: 400px) {
        flex-direction: column;
        align-items: flex-start;    
    }
}

.loader {
    width: 17px;
    height: 17px;
    border: 2px solid var(--color-w);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader-black {
    width: 17px;
    height: 17px;
    border: 2px solid var(--color-b);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loading-route {
    min-height: 100vh;
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        width: 10rem;
        height: 10rem;
    }
    img {
        max-width: 80px;
        animation: rotationPulse 1.5s linear infinite;
    }
}
/* ESTADOS-FIM */


/* ELEMENTOS */
.result-empty,
.feedback_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    
    height: 12rem;

    p {
        font-weight: 600;
    }
}

.link-back {
    background-color: transparent;
    padding: .1rem .5rem .1rem .1rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
    width: 100%;
    max-width: fit-content;

    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--color-bg-2);
    }
}

.separator {
    background-color: var(--color-text);
    height: 1px;
    opacity: 0.3;
}

.badge {
    background-color: var(--color-neutral-border);
    padding: .1rem .5rem .2rem;
    border-radius: 13px;
    font-size: 1.2rem;
    color: var(--color-neutral);
    border: 0.1rem solid var(--color-neutral);
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona reticências (...) no final do texto cortado */


    &.success {
        background-color: var(--color-success-bg);
        border: 0.1rem solid var(--color-success);
        color: var(--color-success);
    }
    &.danger {
        background-color: var(--color-danger-bg);
        border: 0.1rem solid var(--color-danger); 
        color: var(--color-danger);
    }
    &.warn {
        background-color: var(--color-warning-bg);
        border: 0.1rem solid var(--color-warning-border);
        color: var(--color-warning);
    }
}

.btns {
    margin-top: 1.5rem;

    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.btn.mobile {
    /* display: none; */
  
    div {
        background-color: var(--color-text);
        width: 2.5rem;
        height: .25rem;
        margin: .6rem 1rem;
        border-radius: 5px;
        
        transition: all 0.4s ease;
    }

    &.open .line1 {
        transform: rotate(-45deg) translate(-0.6rem, 0.5rem);
    }
    
    &.open .line2 {
        opacity: 0;
    }
    
    &.open .line3 {
        transform: rotate(45deg) translate(-0.6rem, -0.6rem);
    }
}

.btn {
    /* background-color: var(--color-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    width: 100%;
    max-width: fit-content;
    height: auto;
    
    border-radius: 10px;
    padding: .5rem 1.5rem;    

    font-weight: 600;
    text-align: center;

    transition: all .3s ease;

    &.primary {
        background-color: var(--color-primary);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: drop-shadow(0 0 8px var(--color-primary)) brightness(1.1);
        }
        /* &:active {
            filter: drop-shadow(0 0 8px var(--color-primary)) brightness(.9);
            transform: scale(0.9);
        } */
    }
    &.secundary {
        background-color: var(--color-secundary);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: drop-shadow(0 0 8px var(--color-secundary)) brightness(1.1);
        }
    }
    &.danger {
        background-color: var(--color-danger);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: brightness(1.1);
        }
    }
    &.cancel {
        border: 1px solid var(--color-text);
        min-height: 3.2rem;
        color: var(--color-text);

        &:hover {
            filter: brightness(0.9);
        }
    }
    &.filter {
        background-color: transparent;
        padding: .5rem 1rem;
        font-size: 1.8rem;

        transition: all .3s ease;
        &:hover {
            background-color: var(--color-w);
        }
    }
    &.view {
        /* background-color: transparent; */
        font-size: 2.2rem;
        padding: 0rem 0.7rem;

        &:hover {
            background-color: transparent;
            transform: scale(1.2);
        }
    }
    &.success {
        background-color: var(--color-success);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: drop-shadow(0 0 8px var(--color-success)) brightness(1.1);
        }
    }
    &.neutral {
        background-color: var(--color-neutral);
        min-height: 3.2rem;
        color: var(--color-w);

        &:hover {
            filter: drop-shadow(0 0 8px var(--color-neutral)) brightness(1.1);
        }
    }
}

.btn_filter,
.btn-filter {
    background-color: transparent;
    padding: .3rem 1rem;
    border: 1px solid var(--color-text);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    opacity: 0.8;
    font-weight: 500;
    transition: all .3s ease;
    &:hover {
        background-color: var(--color-bg-2);
        /* color: var(--color-w); */
        opacity: 1;
    }

    input[type='radio'],
    input[type='checkbox'] {
        display: none;
    }
    &:has(input[type='radio']:checked), 
    &:has(input[type='checkbox']:checked) {
        background-color: var(--color-secundary);
        color: var(--color-w);
        opacity: 1;
    }


    &.clear {
        border: none;
        font-weight: 600;
        opacity: 1;
        padding: .3rem .5rem;
    }
}

.tag {
    background-color: var(--color-bg-2);
    padding: .2rem .5rem;
    border-radius: 7px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: .2rem;
}

.label--input, 
.label--select {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    > label {
        font-size: 1.4rem;
        font-weight: 600;
    }

    &.question {
        margin-top: 1rem;
        /* border-top: 1px solid var(--color-bg-3); */
        /* padding-top: 0.5rem; */

        .yes--no {
            display: flex;
            gap: 2rem;

            label {
                /* background-color: aquamarine; */
                display: flex;
                gap: .3rem;
            }
        }
    }
    &.solicitacao {
            
        > .input {
            display: flex;
            gap: 1.3rem;
        }
    }
}
.label--input {
    input[type='text'], 
    input[type='password'], 
    input[type='email'],
    input[type='number'],
    input[type='tel'],
    input[type='search'],
    textarea,
    .input {
        background-color: var(--color-w);
        padding: .7rem;
        border-radius: 7px;
        width: 100%;
        /* max-width: 490px; */
        /* min-width: 100%; coloquei no textarea a seguir*/
    }

    textarea {
        min-width: 100%;
        max-width: 490px;
        min-height: 7.5rem;
        max-height: 15rem;
    }
}

.show-more {
    padding: .5rem;

    font-weight: 600;
    text-align: center;
    cursor: pointer;

    transition: all .5s ease;
    &:hover {
        background-color: var(--color-secundary);
        color: var(--color-w);
    }
}

.circle_kpi {
    display: inline-block;
    background-color: #00C49F;
    width: 1.8rem;
    min-height: 1.8rem;
    border-radius: 50%;

    &.danger {
        background-color: #DC3545;
    }
    &.warning {
        background-color: #FFBB28;
    }
}


/* component */
.confirm_check {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    user-select: none;

    input {
        display: none;
    }
    .checkmark {
        background-color: var(--color-w);
        border: 0.1rem solid var(--color-bg-3);
        min-width: 2rem;
        height: 2rem;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.3s ease;

        i {
            opacity: 0;
            font-size: 1.8rem;
        }
    }
    input:checked + .checkmark {
        background-color: var(--color-primary);
        border-color: var(--color-text);

        color: var(--color-w);
        i {
            opacity: 1;
        }
    }

    .text {
        font-weight: 400;
    }
}
/* ELEMENTOS-FIM */






/* ANIMATIONS */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationPulse {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }        
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.fadeIn {
    animation: fadeIn .5s ease;
}
/* ANIMATIONS-FIM */