.Modal.ModalTypeMovimentation {
    border: 4px solid rgb(30, 255, 0);
    
    .bg-modal {
        border: 4px solid rgb(100, 100, 24);
        background-color: #0000004f;
    }

    .window {
        background-color: var(--color-bg-1);
        border-radius: 15px;
        padding: 2rem 1.5rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;
        &.grid {
            max-width: 520px;
        }

        
    }
}