.DropdownMenu.DropdownMenuSolicitacoes {
    width: 100%;
    max-width: 100%;
    /* background-color: red; */

    .btn.secundary {
        position: relative;
        padding: 0.5rem 1rem;
        padding-right: 0.8rem;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;

        i {
            font-size: 1.1rem;
            transform: translateY(0.5px);
        }

        &.indicator::after {
            content: '';
            background-color: var(--color-primary);
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 50%;

            position: absolute;
            right: 0;
            top: 0;
            transform: translate(0.6rem, -0.6rem);
        }
    }
}