.Window.DevolvidoSolicitacoes {

    
    .window_content {
        /* border: 1px solid red; */
        height: auto;
        max-height: 45rem;
        overflow-y: auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem; 

        &:has(.timeline) {
            padding-bottom: 2rem;
        }


        .column_full {
            grid-column: span 2;
            overflow-y: hidden;
        }

        .label--input {

            .input.products {

                .products_title,
                .products_item {
                    /* border: 1px solid red; */
                    display: grid;
                    grid-template-columns: 0.5fr 3fr 1fr 1fr;
                    align-items: center;
                    gap: 0.3rem 0.5rem;
                    padding: 0.7rem 0;

                    span {
                        /* border: 1px solid greenyellow; */
                        
                        &.qtd_product {
                            text-align: center;
                            place-self: center;
                        }
                        &.pendente {
                            text-align: center;
                        }
                    }
                }

                .products_item {
                    &:not(:last-child) {
                        border-bottom: 0.1rem solid var(--color-bg-3);
                    }

                    .qtd_product {
                        /* background-color: blue; */
                        width: 100%;
                        max-width: 100%;

                        input {
                            border: 0.1rem solid var(--color-bg-3);
                            padding: 0.5rem;
                        }
                    }

                    .obs_product {
                        grid-column: span 4;
                        line-height: 0;

                        textarea {
                            border: 0.1rem solid var(--color-bg-3);
                            padding: 0.5rem;
                            resize: vertical; /* Permite apenas o ajuste vertical */
                            width: 100%;
                            max-width: 100%;
                            height: auto;
                            min-height: 3.4rem;
                            max-height: 7.5rem;
                        }
                    }
                }
            }


            .obs {
                /* color: red; */
                font-size: 1.4rem;
                text-align: center;
            }
            .ou {
                text-align: center;
            }
            .confirm_check {
                margin-top: 0rem;
                justify-content: center;
            }
        }
    }


    .window_bottom {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}