.Window.FilterProduct {
    /* background-color: aqua; */

    .content-window {

        .radios-group {
            flex-wrap: wrap;
            justify-content: flex-start;

            .btn-filter {
                max-width: fit-content;
                /* > input {
                    display: none;
                } */
            }
        }

        .KpiFilter {
            .radios-group {
            
                flex-wrap: nowrap;
                .btn-filter {
                    max-width: 100%;
                }
            }

        }
    }
}