.Window.DetailsSolicitacoes {

    .window_top {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        > p {
            font-size: 1.4rem;
            text-align: right;
        }
    }

    .window_content {
        /* border: 1px solid red; */
        height: auto;
        max-height: 40rem;
        padding-bottom: 2rem;
        overflow-y: auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 1rem; 

        .column_full {
            grid-column: span 2;
        }

        .label--input {

            .input.products {
                /* background-color: antiquewhite; */
                height: auto;
                max-height: 18rem;
                overflow-y: auto;
                position: relative;
                padding-top: 0;

                .products_title,
                .products_item {
                    /* border: 1px solid red; */
                    display: flex;
                    gap: 0.5rem;
                    padding: 0.3rem 0;

                    span {
                        /* border: 1px solid greenyellow; */
                        width: 100%;

                        &.id_product {
                            max-width: 3rem;
                        }
                        &.name_product {
                            min-width: 10rem;
                        }
                        &.qtd_product {
                            min-width: 5rem;
                            max-width: 5.5rem;
                        }
                    }
                }
                .products_title {
                    background-color: var(--color-w);
                    font-size: 1.3rem;
                    font-weight: 700;
                    text-transform: uppercase;

                    position: sticky;
                    top: 0;
                    /* left: 1rem; */
                    padding-top: -0.7rem;
                }
            }
        }
    }


    .window_bottom {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}