.Painel.PainelSolicitacoes {
    /* background-color: bisque; */

    .painel-content {

        table {
            /* table-layout: fixed; */
            
            .item {
                td[data-label="tipo"] {
                    position: relative;
                    
                    .badge {
                        display: flex;
                        justify-content: center;
                        gap: 0.3rem;

                        max-width: 9.4rem;
                        margin: 0 auto;

                        i {
                            transform: translateY(0.1rem);
                        }

                        @media (max-width: 767px) {
                            margin: 0;
                        }
                    }
                    .badge.alert::after {
                        content: '!';
                        position: absolute;
                        transform: translate(4.5rem, -0.5rem);

                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: var(--color-danger);
                        border-radius: 50%;

                        text-align: center;
                        font-weight: 500;
                        line-height: 115%;
                        color: var(--color-w);
                    }

                    /* .badge.alert::after {
                        content: '!';
                        position: absolute;
                        right: -0.3rem;

                        width: 1.5rem;
                        height: 1.5rem;
                        background-color: var(--color-danger);
                        border-radius: 50%;

                        text-align: center;
                        font-weight: 500;
                        line-height: 115%;
                        color: var(--color-w);

                        transform: translateY(-0.5rem);
                    } */
                }

                td:last-child {
                    /* border: solid red; */
                    display: flex;
                    justify-content: center;

                    .btns_actions {
                        /* background-color: rgb(161, 106, 39); */
                        width: 100%;
                        max-width: 19rem;

                        display: flex;
                        /* justify-content: center; */
                        gap: 0.7rem;
                    }

                    @media (max-width: 767px) {
                        justify-content: space-between;
                    }
                }
            }
        }


        .legenda {
            /* background-color: antiquewhite; */
            margin-top: 1rem;

            small {
                display: flex;
                align-items: center;
                gap: .5rem;

                span {
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: var(--color-danger);
                    border-radius: 50%;

                    text-align: center;
                    font-weight: 500;
                    line-height: 115%;
                    color: var(--color-w);
                }
            }
        }
        &:not(:has(table .alert)) {
            .legenda {
                display: none;
            }
        }
    }



    /* RESPONSIVIDADE */
    /* @media (max-width: 767px) {

        .painel-content {

            table {
                table-layout: fixed;

                .item {

                    td[data-label="status"] {
                        min-width: 100%;
                    }
                }
            }
        }

    } */
}